.kitchen-timers {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10000;
}

.kitchen-timer {
  background: #111;
  color: #fff;
  opacity: 0;
  position: relative;
  transform: translate3d(0, 100%, 0);
  transition: opacity .3s, transform .3s, color .3s;
  z-index: 2;
}

.kitchen-timer-content {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  line-height: 1;
  white-space: nowrap;
}

@keyframes c-timer-complete-flash {
  0% { background: transparent; }
  50% { background: #59a759; }
  90% { background: transparent; }
}

.kitchen-timer.is-visible {
  opacity: 1;
  transform: none;
}

.kitchen-timer.is-complete .kitchen-timer-content {
  animation: .6s c-timer-complete-flash 5;
}

.kitchen-timer.is-complete {
  color: #59a759;
  transition: color .3s 2.6s;
}

.kitchen-timer.is-closing {
  color: black;
  margin: calc(-0.5 * var(--element-height)) 0;
  transition: color .3s, margin .3s;
  z-index: 1;
}

.kitchen-timer.is-closing:last-child {
  margin: calc(-1 * var(--element-height)) 0 0;
}

.kitchen-timer.is-closing:first-child {
  margin: 0 0 calc(-1 * var(--element-height));
}

.kitchen-timer-button {
  align-items: center;
  appearance: none;
  background: transparent;
  border-radius: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: block;
  flex: 0 0 3rem;
  font: inherit;
  height: 3rem;
  justify-content: center;
  letter-spacing: inherit;
  outline: 0;
  padding: .75rem;
  width: 3rem;
}

.kitchen-timer-icon-pause,
.kitchen-timer-icon-restart {
  margin-top: -1.5rem;
  opacity: 0;
}

.kitchen-timer-icon-restart {
  transform: translateY(-.125rem);
}

.kitchen-timer.is-running .kitchen-timer-icon-play {
  opacity: 0;
}

.kitchen-timer.is-running .kitchen-timer-icon-pause {
  opacity: 1;
}

.kitchen-timer.is-complete .kitchen-timer-icon-play,
.kitchen-timer.is-complete .kitchen-timer-icon-pause {
  opacity: 0;
}

.kitchen-timer.is-complete .kitchen-timer-icon-restart {
  opacity: 1;
}

.kitchen-timer-button svg {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
}

.kitchen-timer-title, 
.kitchen-timer-playpause {
  margin-right: 1rem;
}

.kitchen-timer-progress {
  flex-grow: 1;
}

.kitchen-timer-progress progress {
  color: inherit;
  background: transparent;
  border-radius: 0;
  display: block;
  width: 100%;
  border: 2px solid currentColor;
  height: (14rem / 16);
}


.kitchen-timer-progress progress::-moz-progress-bar {
  background: currentColor;
}

.kitchen-timer-progress progress::-webkit-progress-bar {
  background: transparent;
}

.kitchen-timer-progress progress::-webkit-progress-value {
  background: currentColor;
}

.kitchen-timer-remaining,
.kitchen-timer-abort {
  margin-left: 1rem;
}

.kitchen-timer-text {
  padding-top: .1875rem;
}
